In [1]:
#Pandas Docs: http://pandas.pydata.org/pandas-docs/stable/
#Tutorials:  10-Minute Video - http://pandas.pydata.org/pandas-docs/stable/10min.html#min
#            Documentation - http://pandas.pydata.org/pandas-docs/stable/text.html
#            Tutorials:  https://www.tutorialspoint.com/python_pandas/python_pandas_introduction_to_data_structures.htm
#Cheat Sheet:  http://pandas.pydata.org/Pandas_Cheat_Sheet.pdf
#
#Library Purpose: high-performance, easy-to-use data structures and data analysis tools 
#includes: includes file/io conversion to python objects, data cleaning/merging/selection
#tabular/matrix/datafram data structures, time series analysis functions, text data
#
#Additional Exercises:  https://github.com/guipsamora/pandas_exercise
import numpy as np
import pandas as pd

In [2]:
#Create functions to Read/Write CSV & Excel Data using Pandas 
def file_read_csv(path):
    print("Pandas File I/O Example - CSV Read")
    #load csv file into Pandas dataframe object
    data=pd.read_csv(path)
    return data

def file_write_csv(data, path):
    print("Pandas File I/O Example - CSV Write")
    #write Pandas dataframe object to local csv file
    data.to_csv(path)

def file_read_excel(data,path,sheet):
    print("Pandas File I/O Example - Read")
    #load csv file into Pandas dataframe object
    xlsx = pd.ExcelFile(path)
    data = pd.read_excel(xlsx, sheet)
    return data

In [6]:
#Pandas Data Types
#Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.)
#Here, data can be many different things: Python Dict, ndarray (numpy), scalar value
print("Series Example")
data = {'b' : 1, 'a' : 0, 'c' : 2} #python dict
s1 = pd.Series(data)
print(s1) 

#create series of mixed data types.  Note: Automaticall assignes index 0-n if not explicitly stated "index"
#eg - pd.Series([1., 2., 3.], index=['a', 'b', 'c'])
print('Create Series of Mixed Data types')
s2 = pd.Series(['Alexander', '3B', 'C', 'Abba', 'Baca', 3, 'dog', 'kitten212'])
print("lowercase series")
print(s2.str.lower())

#Pandas Series - reated from numpy ndarray
#2-dimensional labeled data structure with columns of potentially different types
# DataFrame accepts many different kinds of input:  ndarray, dicts, series, another dataframe
print("DataFrame Example - create from two series on index")
data = {'one' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
        'two' : pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])} #python dict
dframe = pd.DataFrame(data)
print(dframe)

Series Example
b    1
a    0
c    2
dtype: int64
Create Series of Mixed Data types
lowercase series
0    alexander
1           3b
2            c
3         abba
4         baca
5          NaN
6          dog
7    kitten212
dtype: object
DataFrame Example - create from two series on index
   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [4]:
#Data Exploration & Transformation Examples - Series Data
#See: https://www.tutorialspoint.com/python_pandas/python_pandas_basic_functionality.htm

#series examples
#Returns the list of the labels of the series.
print ("The axes are:")
print(s1.axes)
print('return length of series') 
print(s1.size)

The axes are:
[Index(['b', 'a', 'c'], dtype='object')]
return length of series
3

In [5]:
#Data Exploration & Transformation Examples - DataFrame Data
#See: https://www.tutorialspoint.com/python_pandas/python_pandas_basic_functionality.htm
#dataframe examples
pd.set_option('display.max_columns', 80) #show max of 80 columns
print('view first 5 rows of dataframe')
print(dframe.head())
#show number of rows and columns in dataframe
print("Number of rows in rows, columns in dataset: {}".format(dframe.shape))
print("Column names in dataset: {}".format(dframe.columns))
print ("Row axis labels and column axis labels are:")
print(dframe.axes)
print ("The data types of each column are:")
print(dframe.dtypes)
print ("The shape of the object is: r x c")
print(dframe.shape)

view first 5 rows of dataframe
   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
Number of rows in rows, columns in dataset: (4, 2)
Column names in dataset: Index(['one', 'two'], dtype='object')
Row axis labels and column axis labels are:
[Index(['a', 'b', 'c', 'd'], dtype='object'), Index(['one', 'two'], dtype='object')]
The data types of each column are:
one    float64
two    float64
dtype: object
The shape of the object is: r x c
(4, 2)
print dataframe
   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
The transpose of the dataframe is:
       a    b    c    d
one  1.0  2.0  3.0  NaN
two  1.0  2.0  3.0  4.0
The actual data in our data frame is:
[[ 1.  1.]
 [ 2.  2.]
 [ 3.  3.]
 [nan  4.]]
Returns the sum of the values for the requested axis
one     6.0
two    10.0
dtype: float64
Summarizing data using descriptive statistics
       one       two
count  3.0  4.000000
mean   2.0  2.500000
std    1.0  1.290994
min    1.0  1.000000
25%    1.5  1.750000
50%    2.0  2.500000
75%    2.5  3.250000
max    3.0  4.000000
Imputation example
        one       two     three
a -0.173962  0.712399 -1.865825
b       NaN       NaN       NaN
c  0.307425  0.455332 -0.017027
d       NaN       NaN       NaN
e -1.701199  0.254451  2.473435
f  1.536996 -1.208396  1.664970
g       NaN       NaN       NaN
h -1.850826  0.513783 -0.502451
Step 1: Check for missing values
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool
Step 2a: Clean/fill missing values
NaN replaced with '0':
        one       two     three
a -0.173962  0.712399 -1.865825
b  0.000000  0.000000  0.000000
c  0.307425  0.455332 -0.017027
d  0.000000  0.000000  0.000000
e -1.701199  0.254451  2.473435
f  1.536996 -1.208396  1.664970
g  0.000000  0.000000  0.000000
h -1.850826  0.513783 -0.502451
Step 2b: or drop missing values
NaN replaced with '0':
        one       two     three
a -0.173962  0.712399 -1.865825
c  0.307425  0.455332 -0.017027
e -1.701199  0.254451  2.473435
f  1.536996 -1.208396  1.664970
h -1.850826  0.513783 -0.502451
Step 3: replace missing or generic values
   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60
Length of text elements in series
0    9.0
1    2.0
2    1.0
3    4.0
4    4.0
5    NaN
6    3.0
7    9.0
dtype: float64
Pattern Matching - Number then Capital Letter
0    False
1     True
2    False
3    False
4    False
5      NaN
6    False
7    False
dtype: object
merge datasets on id & subject id keys
   id  Name_x subject_id Name_y
0   4   Alice       sub6  Bryce
1   5  Ayoung       sub5  Betty
merge datasets using left join onto "left" dataset
   id_x  Name_x subject_id  id_y Name_y
0     1    Alex       sub1   NaN    NaN
1     2     Amy       sub2   1.0  Billy
2     3   Allen       sub4   2.0  Brian
3     4   Alice       sub6   4.0  Bryce
4     5  Ayoung       sub5   5.0  Betty

In [ ]:
#Dataframe transformations
print('print dataframe')
print(dframe)
print ("The transpose of the dataframe is:")
print(dframe.T)
#Returns dataframe values as ndarray
print ("The actual data in our data frame is:")
print(dframe.values)

In [ ]:
#descriptive statistics
#https://www.tutorialspoint.com/python_pandas/python_pandas_descriptive_statistics.htm
print('Returns the sum of the values for the requested axis')
print(dframe.sum()) #default axis = 0
print('Summarizing data using descriptive statistics')
print(dframe.describe())

In [ ]:
#replace missing data - Imputation
print("Imputation example")
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
'h'],columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print(df)
print('Step 1: Check for missing values')
print(df['one'].isnull())
print('Step 2a: Clean/fill missing values')
print ("NaN replaced with '0':")
print(df.fillna(0))
print('Step 2b: or drop missing values')
print ("NaN replaced with '0':")
print(df.dropna())
print('Step 3: replace missing or generic values')
df = pd.DataFrame({'one':[10,20,30,40,50,2000], 'two':[1000,0,30,40,50,60]})
print(df.replace({1000:10,2000:60}))

In [ ]:
#text functions
print("Length of text elements in series")
print(s2.str.len())

print("Pattern Matching - Number then Capital Letter")
pattern = r'[0-9][A-Z]'
print(s2.str.contains(pattern))

In [ ]:
#Merging data
#Pandas has full-featured, high performance in-memory join operations i
#diomatically very similar to relational databases like SQL.
#example "left" & "right" dataframes
left = pd.DataFrame({
   'id':[1,2,3,4,5],
   'Name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'],
   'subject_id':['sub1','sub2','sub4','sub6','sub5']})
right = pd.DataFrame(
   {'id':[1,2,3,4,5],
   'Name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'],
   'subject_id':['sub2','sub4','sub3','sub6','sub5']})
print('merge datasets on id & subject id keys')
print(pd.merge(left,right,on=['id','subject_id']))
#"how" parameter defines the type of join - left, right, full inner/outer
print('merge datasets using left join onto "left" dataset')
print(pd.merge(left, right, on='subject_id', how='left'))